.boton{
   color: white; 
   text-align: center;
}

.boton1{
    background-color: aquamarine;
}

.b1{
    height: 80px;
    width: 150px;
    margin: 2%;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 15px;
}
.b2{
    height: 80px;
    width: 150px;
    margin: 2%;

    font-size: 20px;
    cursor: pointer;
}
.b3{
    height: 80px;
    width: 150px;
    margin: 2%;

    font-size: 20px;
    cursor: pointer;
}

.caja-texto{
    text-align: center;
    background-color: aqua;
    height: 80%;
}