<div class="boton1" [ngSwitch]="VALORES">
    <div class="boton">
        <button type="button" class="b1" (click)="VALORES=1">Boton Aleatorio 1</button>
        <button type="button" class="b2" (click)="VALORES=2">Boton Aleatorio 2</button>
        <button type="button" class="b3" (click)="VALORES=3">Boton Aleatorio 3</button>
    </div>
    <div class="caja-texto">
        <div *ngSwitchCase="1">
            "La información y la libertad son indivisibles. La revolución informática es inimaginable sin la democracia
            y la verdadera democracia es inimaginable sin la libertad de información”.
            <hr>
            PRECIONASTE EL BOTON N1
        </div>
        <div *ngSwitchCase="2">
            "No temo a los ordenadores; lo que temo es quedarme sin ellos".
            <hr>
            PRECIONASTE EL BOTON N2

        </div>
        <div *ngSwitchCase="3">
            "El ordenador nació para resolver problemas que antes no existían".
            <hr>
            PRECIONASTE EL BOTON N3

        </div>
        <div *ngSwitchDefault="0">
            <b>Precione el boton 1 para mas informacion</b>
            <hr>
            <b>Precione el boton 2 para mas informacion</b>
            <hr>
            <b>Precione el boton 3 para mas informacion</b>
        </div>
    </div>
</div>